@import "/css/minireset.min.css";
@import "/css/fonts.css";
@import url("./css/header.css");
@import url('./css/banner.css');
@import url("/css/features.css");
@import url('/css/what-we-do.css');
@import "/css/our-team.css";
@import '/css/rcustomers.css';
@import "/css/footer.css";
@import "/css/portfolio.css";

:root{
    
    --brand-color-1: #2196F3;
    --brand-color-2: #212121;
    --brand-color-3: #757575;
    --brand-color-4: #FFFFFF;
    --brand-color-5: #F5F4FA;
    --brand-color-6: #AFB1B8;
    --brand-color-7: #2F303A;
    --brand-color-8: #EEEEEE;
    --container-padding: calc((100% - 1200px) / 2);
}

*{
    box-sizing: border-box;
}